h2, h3, h4 {
    color: rgb(22, 41, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resume {
    color: rgb(51, 27, 3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.resume ul {
    list-style: none;
}
.resume li::before {
    content: "»";
    margin-right: 8px;
}